{% load static %}
<!DOCTYPE html>
<html>
  <title>Get Udemy Coupons</title>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
      html, body {
      display: flex;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      }
      form {
      border: 5px solid #f1f1f1;
      }
      input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      .icon {
      font-size: 110px;
      display: flex;
      justify-content: center;
      color: #4286f4;
      }
      button {
      background-color: #4286f4;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grab;
      width: 48%;
      }
      h1 {
      text-align:center;
      font-size:18;
      }
      button:hover {
      opacity: 0.8;
      }
      .formcontainer {
      text-align: center;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 16px 0;
      text-align:left;
      }
      span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
      }
      /* Change styles for span on extra small screens */
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
      select:hover {
        outline: none;
        border: 1px solid #095484;
        background: #e6eef7;
      }
      select {
        padding: 7px 0;
        border-radius: 3px;
        border: 1px solid #ccc;
        background: transparent;
        max-width: 300px;
        width: 100%;
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        line-height: 22px;
      }
    </style>
  </head>
  <body>
    <form action="/action_page.php">
      <h1 style="font-size: x-large;">Get Udemy Coupons</h1>

      <div class="formcontainer">
      <div class="container">
        <label for="uname"><strong>Website:  </strong></label>
        <select name="website_selected" id="website_selected">
          {% for website in websites %}
          <option value="{{ website.id }}">{{ website.name }}</option>
          {% endfor %}
        </select></br></br>
        <label for="mail"><strong>Max Pages</strong></label>
        <input type="text" id="max_page" placeholder="Enter Max Pages" required>
        <label for="psw"><strong>Retries</strong></label>
        <input type="text" id="retries" placeholder="Enter Retries" required>
      </div>
      <button type="button" class="scrape"><strong>Search Now</strong></button>
      <div class="container" id="change" style="background-color: #eee; padding: 0; margin: 0; font-size: smaller;">
      </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        
        url = '{% url "coupons:log" %}'
        function loadlink(){
            $("#change").load(url);
        };
        loadlink();
        setInterval(function(){
            loadlink() // this will run after every 5 seconds
        }, 2000);
    

        const DownloadCsv = (function() {
          const a = document.createElement("a");
          document.body.appendChild(a);
          a.style = "display: none";
          return function(data, fileName) {
            const blob = new Blob([data], {type: "octet/stream"}),
              url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = fileName;
            a.click();
            window.URL.revokeObjectURL(url);
          };
        }());

        const err_func = function (e) {$.ajax({
                          url: '{% url "coupons:print" %}',
                          type: 'POST',
                          data: {
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          success: function (response) {
                            DownloadCsv(response, 'data.csv')},
                          error: function (xhr, errmsg, err) {
                            console.log(errmsg)
                          }
                        })}
        
        const isfree = function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          }
                        })}
        $(document).on('click', '.scrape', function (f) {
            f.preventDefault();
            let current = $('#website_selected').val();
            let max_page = $('#max_page').val();
            let retries = $('#retries').val();
          $.ajax({
                  url: '{% url "coupons:scrape" 1 %}'.replace('1', current),
                  type: 'POST',
                  data: {
                      max_page: max_page,
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                  },
                  success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: function (e) {$.ajax({
                          url: '{% url "coupons:isfree" %}',
                          type: 'POST',
                          data: {
                              retries: retries,
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                          },
                          error: err_func,
                          success: err_func
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })}
                        })},
                  error: function (xhr, errmsg, err) {
                    console.log(errmsg)
                  }
          })
        }}) })  
    </script>
  </body>
</html>